/* Margins */
.u-m-auto {
  margin: auto;
}

.u-m-0 {
  margin: 0;
}

.u-m-1 {
  margin: 1px;
}

.u-m-2 {
  margin: 2px;
}

.u-m-3 {
  margin: 3px;
}

.u-m-4 {
  margin: 4px;
}

.u-m-5 {
  margin: 5px;
}

.u-m-6 {
  margin: 6px;
}

.u-m-8 {
  margin: 8px;
}

.u-m-10 {
  margin: 10px;
}

.u-m-12 {
  margin: 12px;
}

.u-m-15 {
  margin: 15px;
}

.u-m-16 {
  margin: 16px;
}

.u-m-20 {
  margin: 20px;
}

.u-m-24 {
  margin: 24px;
}

.u-m-25 {
  margin: 25px;
}

.u-m-28 {
  margin: 28px;
}

.u-m-30 {
  margin: 30px;
}

.u-m-32 {
  margin: 32px;
}

.u-m-35 {
  margin: 35px;
}

.u-m-36 {
  margin: 36px;
}

.u-m-40 {
  margin: 40px;
}

.u-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.u-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.u-mt-auto {
  margin-top: auto;
}

.u-mr-auto {
  margin-right: auto;
}

.u-mb-auto {
  margin-bottom: auto;
}

.u-ml-auto {
  margin-left: auto;
}

.u-mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.u-my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-mt-0 {
  margin-top: 0;
}

.u-mr-0 {
  margin-right: 0;
}

.u-mb-0 {
  margin-bottom: 0;
}

.u-ml-0 {
  margin-left: 0;
}

.u-mx-1 {
  margin-left: 1px;
  margin-right: 1px;
}

.u-my-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-mt-1 {
  margin-top: 1px;
}

.u-mr-1 {
  margin-right: 1px;
}

.u-mb-1 {
  margin-bottom: 1px;
}

.u-ml-1 {
  margin-left: 1px;
}

.u-mx-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.u-my-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.u-mt-2 {
  margin-top: 2px;
}

.u-mr-2 {
  margin-right: 2px;
}

.u-mb-2 {
  margin-bottom: 2px;
}

.u-ml-2 {
  margin-left: 2px;
}

.u-mx-3 {
  margin-left: 3px;
  margin-right: 3px;
}

.u-my-3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.u-mt-3 {
  margin-top: 3px;
}

.u-mr-3 {
  margin-right: 3px;
}

.u-mb-3 {
  margin-bottom: 3px;
}

.u-ml-3 {
  margin-left: 3px;
}

.u-mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.u-my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.u-mt-4 {
  margin-top: 4px;
}

.u-mr-4 {
  margin-right: 4px;
}

.u-mb-4 {
  margin-bottom: 4px;
}

.u-ml-4 {
  margin-left: 4px;
}

.u-mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.u-my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.u-mt-5 {
  margin-top: 5px;
}

.u-mr-5 {
  margin-right: 5px;
}

.u-mb-5 {
  margin-bottom: 5px;
}

.u-ml-5 {
  margin-left: 5px;
}

.u-mx-6 {
  margin-left: 6px;
  margin-right: 6px;
}

.u-my-6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.u-mt-6 {
  margin-top: 6px;
}

.u-mr-6 {
  margin-right: 6px;
}

.u-mb-6 {
  margin-bottom: 6px;
}

.u-ml-6 {
  margin-left: 6px;
}

.u-mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.u-my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.u-mt-8 {
  margin-top: 8px;
}

.u-mr-8 {
  margin-right: 8px;
}

.u-mb-8 {
  margin-bottom: 8px;
}

.u-ml-8 {
  margin-left: 8px;
}

.u-mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.u-my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-mt-10 {
  margin-top: 10px;
}

.u-mr-10 {
  margin-right: 10px;
}

.u-mb-10 {
  margin-bottom: 10px;
}

.u-ml-10 {
  margin-left: 10px;
}

.u-mx-12 {
  margin-left: 12px;
  margin-right: 12px;
}

.u-my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.u-mt-12 {
  margin-top: 12px;
}

.u-mr-12 {
  margin-right: 12px;
}

.u-mb-12 {
  margin-bottom: 12px;
}

.u-ml-12 {
  margin-left: 12px;
}

.u-mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.u-my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.u-mt-15 {
  margin-top: 15px;
}

.u-mr-15 {
  margin-right: 15px;
}

.u-mb-15 {
  margin-bottom: 15px;
}

.u-ml-15 {
  margin-left: 15px;
}

.u-mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.u-my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.u-mt-16 {
  margin-top: 16px;
}

.u-mr-16 {
  margin-right: 16px;
}

.u-mb-16 {
  margin-bottom: 16px;
}

.u-ml-16 {
  margin-left: 16px;
}

.u-mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-mt-20 {
  margin-top: 20px;
}

.u-mr-20 {
  margin-right: 20px;
}

.u-mb-20 {
  margin-bottom: 20px;
}

.u-ml-20 {
  margin-left: 20px;
}

.u-mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.u-my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.u-mt-24 {
  margin-top: 24px;
}

.u-mr-24 {
  margin-right: 24px;
}

.u-mb-24 {
  margin-bottom: 24px;
}

.u-ml-24 {
  margin-left: 24px;
}

.u-mx-28 {
  margin-left: 28px;
  margin-right: 28px;
}

.u-my-28 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.u-mt-28 {
  margin-top: 28px;
}

.u-mr-28 {
  margin-right: 28px;
}

.u-mb-28 {
  margin-bottom: 28px;
}

.u-ml-28 {
  margin-left: 28px;
}

.u-mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.u-my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-mt-30 {
  margin-top: 30px;
}

.u-mr-30 {
  margin-right: 30px;
}

.u-mb-30 {
  margin-bottom: 30px;
}

.u-ml-30 {
  margin-left: 30px;
}

.u-mx-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.u-my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.u-mt-32 {
  margin-top: 32px;
}

.u-mr-32 {
  margin-right: 32px;
}

.u-mb-32 {
  margin-bottom: 32px;
}

.u-ml-32 {
  margin-left: 32px;
}

.u-mx-35 {
  margin-left: 35px;
  margin-right: 35px;
}

.u-my-35 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.u-mt-35 {
  margin-top: 35px;
}

.u-mr-35 {
  margin-right: 35px;
}

.u-mb-35 {
  margin-bottom: 35px;
}

.u-ml-35 {
  margin-left: 35px;
}

.u-mx-36 {
  margin-left: 36px;
  margin-right: 36px;
}

.u-my-36 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.u-mt-36 {
  margin-top: 36px;
}

.u-mr-36 {
  margin-right: 36px;
}

.u-mb-36 {
  margin-bottom: 36px;
}

.u-ml-36 {
  margin-left: 36px;
}

.u-mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.u-my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-mt-40 {
  margin-top: 40px;
}

.u-mr-40 {
  margin-right: 40px;
}

.u-mb-40 {
  margin-bottom: 40px;
}

.u-ml-40 {
  margin-left: 40px;
}
.u-ml-64 {
  margin-left: 64px;
}
.u-ml-72 {
  margin-left: 72px;
}

/* Padding Utilities */
.u-p-5v {
  padding: 5vh 5vw;
}

.u-p-0 {
  padding: 0;
}

.u-p-1 {
  padding: 1px;
}

.u-p-2 {
  padding: 2px;
}

.u-p-3 {
  padding: 3px;
}

.u-p-4 {
  padding: 4px;
}

.u-p-5 {
  padding: 5px;
}

.u-p-6 {
  padding: 6px;
}

.u-p-8 {
  padding: 8px;
}

.u-p-10 {
  padding: 10px;
}

.u-p-12 {
  padding: 12px;
}

.u-p-15 {
  padding: 15px;
}

.u-p-16 {
  padding: 16px;
}

.u-p-20 {
  padding: 20px;
}

.u-p-24 {
  padding: 24px;
}

.u-p-25 {
  padding: 25px;
}

.u-p-28 {
  padding: 28px;
}

.u-p-30 {
  padding: 30px;
}

.u-p-32 {
  padding: 32px;
}

.u-p-35 {
  padding: 35px;
}

.u-p-36 {
  padding: 36px;
}

.u-p-40 {
  padding: 40px;
}

.u-px-0 {
  padding-left: 0;
  padding-right: 0;
}

.u-py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-pt-0 {
  padding-top: 0;
}

.u-pr-0 {
  padding-right: 0;
}

.u-pb-0 {
  padding-bottom: 0;
}

.u-pl-0 {
  padding-left: 0;
}

.u-px-1 {
  padding-left: 1px;
  padding-right: 1px;
}

.u-py-1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

.u-pt-1 {
  padding-top: 1px;
}

.u-pr-1 {
  padding-right: 1px;
}

.u-pb-1 {
  padding-bottom: 1px;
}

.u-pl-1 {
  padding-left: 1px;
}

.u-px-2 {
  padding-left: 2px;
  padding-right: 2px;
}

.u-py-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.u-pt-2 {
  padding-top: 2px;
}

.u-pr-2 {
  padding-right: 2px;
}

.u-pb-2 {
  padding-bottom: 2px;
}

.u-pl-2 {
  padding-left: 2px;
}

.u-px-3 {
  padding-left: 3px;
  padding-right: 3px;
}

.u-py-3 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.u-pt-3 {
  padding-top: 3px;
}

.u-pr-3 {
  padding-right: 3px;
}

.u-pb-3 {
  padding-bottom: 3px;
}

.u-pl-3 {
  padding-left: 3px;
}

.u-px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.u-py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.u-pt-4 {
  padding-top: 4px;
}

.u-pr-4 {
  padding-right: 4px;
}

.u-pb-4 {
  padding-bottom: 4px;
}

.u-pl-4 {
  padding-left: 4px;
}

.u-px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.u-py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.u-pt-5 {
  padding-top: 5px;
}

.u-pr-5 {
  padding-right: 5px;
}

.u-pb-5 {
  padding-bottom: 5px;
}

.u-pl-5 {
  padding-left: 5px;
}

.u-px-6 {
  padding-left: 6px;
  padding-right: 6px;
}

.u-py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.u-pt-6 {
  padding-top: 6px;
}

.u-pr-6 {
  padding-right: 6px;
}

.u-pb-6 {
  padding-bottom: 6px;
}

.u-pl-6 {
  padding-left: 6px;
}

.u-px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.u-py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.u-pt-8 {
  padding-top: 8px;
}

.u-pr-8 {
  padding-right: 8px;
}

.u-pb-8 {
  padding-bottom: 8px;
}

.u-pl-8 {
  padding-left: 8px;
}

.u-px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-pt-10 {
  padding-top: 10px;
}

.u-pr-10 {
  padding-right: 10px;
}

.u-pb-10 {
  padding-bottom: 10px;
}

.u-pl-10 {
  padding-left: 10px;
}

.u-px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.u-py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.u-pt-12 {
  padding-top: 12px;
}

.u-pr-12 {
  padding-right: 12px;
}

.u-pb-12 {
  padding-bottom: 12px;
}

.u-pl-12 {
  padding-left: 12px;
}

.u-px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.u-pt-15 {
  padding-top: 15px;
}

.u-pr-15 {
  padding-right: 15px;
}

.u-pb-15 {
  padding-bottom: 15px;
}

.u-pl-15 {
  padding-left: 15px;
}

.u-px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.u-pt-16 {
  padding-top: 16px;
}

.u-pr-16 {
  padding-right: 16px;
}

.u-pb-16 {
  padding-bottom: 16px;
}

.u-pl-16 {
  padding-left: 16px;
}

.u-px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-pt-20 {
  padding-top: 20px;
}

.u-pr-20 {
  padding-right: 20px;
}

.u-pb-20 {
  padding-bottom: 20px;
}

.u-pl-20 {
  padding-left: 20px;
}

.u-px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.u-py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.u-pt-24 {
  padding-top: 24px;
}

.u-pr-24 {
  padding-right: 24px;
}

.u-pb-24 {
  padding-bottom: 24px;
}

.u-pl-24 {
  padding-left: 24px;
}

.u-px-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.u-py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.u-pt-25 {
  padding-top: 25px;
}

.u-pr-25 {
  padding-right: 25px;
}

.u-pb-25 {
  padding-bottom: 25px;
}

.u-pl-25 {
  padding-left: 25px;
}

.u-px-28 {
  padding-left: 28px;
  padding-right: 28px;
}

.u-py-28 {
  padding-top: 28px;
  padding-bottom: 28px;
}

.u-pt-28 {
  padding-top: 28px;
}

.u-pr-28 {
  padding-right: 28px;
}

.u-pb-28 {
  padding-bottom: 28px;
}

.u-pl-28 {
  padding-left: 28px;
}

.u-px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-pt-30 {
  padding-top: 30px;
}

.u-pr-30 {
  padding-right: 30px;
}

.u-pb-30 {
  padding-bottom: 30px;
}

.u-pl-30 {
  padding-left: 30px;
}

.u-px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.u-py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.u-pt-32 {
  padding-top: 32px;
}

.u-pr-32 {
  padding-right: 32px;
}

.u-pb-32 {
  padding-bottom: 32px;
}

.u-pl-32 {
  padding-left: 32px;
}

.u-px-35 {
  padding-left: 35px;
  padding-right: 35px;
}

.u-py-35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.u-pt-35 {
  padding-top: 35px;
}

.u-pr-35 {
  padding-right: 35px;
}

.u-pb-35 {
  padding-bottom: 35px;
}

.u-pl-35 {
  padding-left: 35px;
}

.u-px-36 {
  padding-left: 36px;
  padding-right: 36px;
}

.u-py-36 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.u-pt-36 {
  padding-top: 36px;
}

.u-pr-36 {
  padding-right: 36px;
}

.u-pb-36 {
  padding-bottom: 36px;
}

.u-pl-36 {
  padding-left: 36px;
}

.u-px-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.u-px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.u-pt-40 {
  padding-top: 40px;
}

.u-pr-40 {
  padding-right: 40px;
}

.u-pb-40 {
  padding-bottom: 40px;
}

.u-pl-40 {
  padding-left: 40px;
}

.u-pt-48 {
  padding-top: 48px;
}
.u-pt-56 {
  padding-top: 56px;
}
.u-pt-60 {
  padding-top: 60px;
}
.u-pt-64 {
  padding-top: 64px;
}
.u-mb-64 {
  margin-bottom: 64px;
}
